h1 {
  font-size: 2rem;
}

#submitButton {
  margin-top: 20px;
}

.container {
  background: #2bb3e0;
  border-radius: 2em;
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);

  width: 84%;
  max-width: 100%;
  margin-top: 10%;
  padding: 2rem 1.5rem;
}
input {
  display: inline-block;
  width: 50%;
  margin-left: 10px;
}
table {
  margin-right: 15px;
}
